fastapi==0.104.1
uvicorn==0.24.0
pymongo
python-dotenv==1.0.0
pydantic==1.10.3
pydantic[email]<2
requests==2.31.0
python-jose[cryptography]==3.3.0  # for JWT tokens
passlib[bcrypt]==1.7.4  # for password hashing
python-multipart==0.0.6  # for form data
certifi==2024.8.30
# google-genai==1.30.0
httpx